[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CAISEr"]
	path = CAISEr
	url = https://github.com/fcampelo/caiser
[submodule "CALANGO"]
	path = CALANGO
	url = https://github.com/fcampelo/calango
[submodule "ExpDE"]
	path = ExpDE
	url = https://github.com/fcampelo/expde
[submodule "MOEADr"]
	path = MOEADr
	url = https://github.com/fcampelo/moeadr
